<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NOSOTROS</title>
	<!-- LINKEAR CSS EXTERNO -->
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="nosocontenedor">
    <header class="Header">
        <img src="../assets/img/faunoLogo.png" alt="logo" class="logoP">
			<nav>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="views/productos.html">PRODUCTOS</a></li>
                <li><a href="#">NOSOTROS</a></li>
                <li><a href="views/servicios.html">SERVICIOS</a></li>
                <li><a href="views/contacto.html">CONTACTO</a></li>
            </ul>
        	</nav>
	<!-- CIERRE NAV -->
	</header>
	<!--CIERRE ENCABEZADO  -->
	<!-- INICIO CONTENIDO -->	
			<main class="Noshero">
				<h2>TE INVITAMOS A CONOCERNOS!</h2>
             </main>          
    	    	<div class="fotop">
    	    	</div>
   				<div class="txtp">
                	<h2>QUIENES SOMOS</h2>
                	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ducimus.</p>
   				 </div>
   				 <div class="filo">
        			<h2> NUESTRA FILOSOFIA</h2>
        			<p>Elige un trabajo que te guste y no tendrás que trabajar ni un solo día de tu vida!.
						@elfaunopasteleria #amarloquehaces #trabajo #work #elfaunopasteleria #pasteleria"</p>
    			</div>
   				 <div class="photof">
   				 </div>
				<div class="video">
					<iframe width="150" height="85" src="https://www.youtube.com/embed/92Kmkv8mJ5A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				
		</main>
	<!-- CIERRE CONTENIDO -->
	<!-- INICIO FOOTER -->
	<footer class="Footer">
            <h4>Seguinos en las redes sociales</h4>
        <ul>
            <li><a href=""><img src="https://icongr.am/fontawesome/instagram.svg?size=50&color=currentColor" alt=""></a></li>
            <li><a href=""><img src="https://icongr.am/fontawesome/facebook.svg?size=50&color=currentColor" alt=""></a></li>
            <li><a href=""><img src="https://icongr.am/fontawesome/whatsapp.svg?size=50&color=currentColor" alt=""></a></li>
        </ul>
    </footer>
	<!--CIERRE FOOTER  -->
</body>
</html>	


